/*
===============
Fonts
===============
*/

@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost&display=swap");

/*
===============
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(205, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}

/*
===============
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Jost", sans-serif;
  background: rgba(0, 0, 0, 0.8);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;

  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 0.875rem;
}

p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

/* section */
.section {
  padding: 5rem 0;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}

main {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

/*
===============
Navbar
===============
*/

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  width: 80%;
  margin: 0 auto;
}

header {
  background: hsl(0, 0%, 0%);
  padding: 10px 0;
}

.logo {
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;

  background: rgb(5, 251, 12);
  background: -webkit-linear-gradient(
    190deg,
    rgb(5, 251, 9) 0%,
    rgba(0, 212, 255, 1) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo:hover,
.logo:active {
  background: rgb(5, 251, 12);
  background: -webkit-linear-gradient(
    190deg,
    rgb(255, 0, 140) 100%,
    rgba(0, 212, 255, 1) 0%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 4s;
}

.hamburger {
  transition: 350ms;
  cursor: pointer;
}

.burger {
  transform: rotate(90deg);
}

.line {
  background: #60ff2b;
  width: 25px;
  height: 3px;
  margin: 5px;
}

.navlist {
  height: 0;
  overflow: hidden;
  transition: 350ms;
}

.toggle {
  height: 200.45px;
  padding-top: 10px;
}

.nav-item {
  list-style-type: none;
  text-align: center;
}

.nav-item:hover,
.nav-item *:hover {
  background-color: #fbda61;
  background-image: linear-gradient(90deg, #fbda61 0%, #ff5acd 100%);

  color: hsl(0, 0%, 0%);
  border-radius: 50px;
}

.nav-link {
  border: none;
  display: block;
  color: #fefefe;
  font-size: 20px;
  padding: 0.5rem 1.5rem;
}

@media screen and (min-width: 800px) {
  .hamburger {
    display: none;
  }

  .navlist {
    height: auto;
    display: flex;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
